@model PagedList.IPagedList<SailorWeb.Models.Model.Team_TBL>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using PagedList
@using PagedList.Mvc
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Kommandamız</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/Home/Index"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/Team/Index">Kommandamız</a></li>

                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="/Team/Create" class="btn btn-sm btn-success">Yeni əlavə et</a>
                    <!-- <a href="#" class="btn btn-sm btn-neutral">Filters</a>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Məlumatlar</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive" style=" min-height: 300px !important;">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort">Ad&Soyad</th>
                                <th scope="col" class="sort">Vəzifə</th>
                                <th scope="col" class="sort">Ətraflı məlumat</th>
                                <th scope="col" class="sort">Şəkil</th>
                                <th scope="col" class="sort">Twitter</th>
                                <th scope="col" class="sort">Facebook</th>
                                <th scope="col" class="sort">Instagram</th>
                                <th scope="col" class="sort">LinkedIn</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="list">

                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @item.TeamName
                                    </td>
                                    <td>
                                        @item.TeamPosition
                                    </td>
                                    <td>
                                        @if (item.TeamDescription == null)
                                        {
                                            @item.TeamDescription
                                        }
                                        else
                                        {
                                            if (item.TeamDescription.Length > 100)
                                            {

                                                @item.TeamDescription.Substring(0, 100) @("...")
                                            }
                                            else
                                            {
                                                @item.TeamDescription
                                            }
                                        }

                                    </td>
                                    <td>
                                        <div class="avatar-group">
                                            <a href="#" class="avatar avatar-lg rounded-circle " data-toggle="tooltip" data-original-title="Ryan Tompson">

                                                <img src="@item.TeamImg" height="50" width="30"/>
                                               
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        @item.Twitter
                                    </td>
                                    <td>
                                        @item.Facebook
                                    </td>
                                    <td>
                                        @item.Instagram
                                    </td>
                                    <td>
                                        @item.Linkedin
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                <a class="dropdown-item" href="/Team/Details/@item.TeamId"><i class="fas fa-eye text-info"></i>Ətraflı Bax</a>
                                                <a class="dropdown-item" href="/Team/Edit/@item.TeamId"><i class="fas fa-sync-alt text-primary"></i>Redaktə et</a>
                                                <a class="dropdown-item" href="/Team/Delete/@item.TeamId"><i class="fas fa-trash-alt text-danger"></i>Sil</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>


                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">
                    <nav aria-label="...">
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
                    </nav>
                </div>
            </div>
        </div>
    </div>

</div>

