@model SailorWeb.Models.Model.PageIdentity_TBL

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Səhifə Tənzimləmələri</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/Home/Index"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/PageIdentity/Index">Səhifə Tənzimləmələri</a></li>
                            <li class="breadcrumb-item"><a href="/PageIdentity/Details/@Model.PId">Ətraflı</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">

                    <a href="/PageIdentity/Edit/@Model.PId" class="btn btn-sm btn-neutral">Redaktə et</a>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Ətraflı baxış</h3>
                </div>
                <!-- Light table -->
                <hr />


                <div class="pl-3">
                    <dl class="dl-horizontal">
                        <dt class="text-danger">
                            @Html.DisplayNameFor(model => model.MetaAuthor)
                        </dt>

                        <dd class="mt-2">
                            @Html.DisplayFor(model => model.MetaAuthor)
                        </dd>
                        <hr style="width:101%" class="ml--3" />
                        <dt class="text-danger mt-4">
                            @Html.DisplayNameFor(model => model.MetaDescription)
                        </dt>

                        <dd class="mt-2">
                            @Html.DisplayFor(model => model.MetaDescription)
                        </dd>
                        <hr style="width:101%" class="ml--3" />
                        <dt class="text-danger mt-4">
                            @Html.DisplayNameFor(model => model.MetaKeywords)
                        </dt>

                        <dd class="mt-2">
                            @Html.DisplayFor(model => model.MetaKeywords)
                        </dd>
                        <hr style="width:101%" class="ml--3" />
                        <dt class="text-danger mt-4">
                            @Html.DisplayNameFor(model => model.LogoURL)
                        </dt>

                        <dd class="mt-3">
                            <img src="@Model.LogoURL" height="100px"/>
                         
                        </dd>
                        <hr style="width:101%" class="ml--3" />
                        <dt class="text-danger mt-4">
                            @Html.DisplayNameFor(model => model.PageTitle)
                        </dt>

                        <dd class="mt-2">
                            @Html.DisplayFor(model => model.PageTitle)
                        </dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>

</div>